html
    head
        title!= title
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    body
        .container(style="width: 500px; margin-top:50px;")
            form
                .form-group
                    label(for="pseudo") Pseudo
                    input.form-control#pseudo(type="text")
                .form-group
                    label(for="password") Password
                    input.form-control#password(type="password")
                button.btn.btn-default(type="submit") Log In