<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="width: 500px; margin-top: 50px">
        <form method="post" action="/test">
            <div class="form-group">
                <label for="pseudo">Pseudo/label>
                <input type="email" class="form-control" id="pseudo">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default">Log In</button>
        </form>
    </div>
</body>
</html>