<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="width: 500px; margin-top: 50px">
        <form method="post" action="/signin">
            <div class="form-group">
                <label for="pseudo">Pseudo</label>
                <input type="text" class="form-control" id="pseudo" name="pseudo" value="musha">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="test">
            </div>
            <div class="form-group">
                <label for="check">Password check</label>
                <input type="password" class="form-control" id="check" name="check" value="test">
            </div>
            <button type="submit" class="btn btn-default">Sign In</button>
        </form>
    </div>
</body>
</html>